.inline-block {
	display: inline-block;
}

.h-screen {
	height: 100vh;
}

.w-screen {
	height: 100vw;
}

.w-full {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.horizontal-gap-10 {
	column-gap: 10px;
}

.vertical-gap-20 {
	row-gap: 20px;
}

.text-left {
	text-align: left;
}

.padding-5 {
	padding: 5px;
}

.padding-20 {
	padding: 20px;
}

.table-b-colapse {
	border-collapse: collapse;
}

.border-bottom-1 {
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.border-green {
	border-color: green;
}

.color-green {
	color: green;
}

.border-red {
	border-color: red;
}

.color-red {
	color: red;
}

.cursor-pointer {
	cursor: pointer;
}
