#root > .App > * {
	font-weight: 300;
	line-height: 1.5;
	color: darkslategrey;
}

html {
  --company-color: rgb(187, 88, 53);
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

