.persons-list {
    width: 90%;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: collapse;
    box-shadow: 1px solid gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

tr {
    border-bottom: 1px solid gray;
}

th {
    text-align: center;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}